<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
</head>
<body>
    <ul>
        <li th:text="${titulo1}"></li>
        <li th:text="${user1.name}"></li>
        <li th:text="${user1.lastName}"></li>
        <li th:text="${titulo2}"></li>
        <li th:text="${user2.name}"></li>
        <li th:if="${user2.lastName}" th:text="${user2.lastName}"></li>
        <li th:if="${not (user2.lastName != null)}" th:text="${'NO TIENE mail'}"></li>
        <li th:if="${user2.lastName == null}" th:text="${'NO TIENE mail'}"></li>
    </ul>
</body>
</html>